--
-- PostgreSQL database dump
--

-- Dumped from database version 14.18
-- Dumped by pg_dump version 14.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    employeeid integer NOT NULL,
    age integer,
    attrition character varying(10),
    businesstravel character varying(50),
    dailyrate integer,
    department character varying(50),
    distancefromhome integer,
    education integer,
    educationfield character varying(50),
    employeecount integer,
    environmentsatisfaction integer,
    gender character varying(10),
    hourlyrate integer,
    jobinvolvement integer,
    joblevel integer,
    jobrole character varying(50),
    jobsatisfaction integer,
    maritalstatus character varying(20),
    monthlyincome integer,
    monthlyrate integer,
    numcompaniesworked integer,
    over18 character varying(5),
    overtime character varying(5),
    percentsalaryhike integer,
    performancerating integer,
    relationshipsatisfaction integer,
    standardhours integer,
    stockoptionlevel integer,
    totalworkingyears integer,
    trainingtimeslastyear integer,
    worklifebalance integer,
    yearsatcompany integer,
    yearsincurrentrole integer,
    yearssincelastpromotion integer,
    yearswithcurrmanager integer
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (employeeid);


--
-- PostgreSQL database dump complete
--

